@Scripts.Render("~/bundles/knockout")

<div id="warview-grid">
    <div class="row">
        <div class="col-md-3">
            <div id="red-wrap" class="alert alert-danger parent-div">
                <div class="col-sm-12" id="red-name">Red Player</div>
                <div class="col-sm-10">Number of Bots: </div><div id="red-count" class="col-sm-2">1</div>
                <div class="col-sm-10">Energy: </div><div id="red-energy" class="col-sm-2">1</div>
                <div class="col-sm-10" id="red-game-end-message"></div>
            </div>
            <div id="blue-wrap" class="alert alert-info parent-div">
                <div class="col-sm-12" id="blue-name">Blue Player</div>
                <div class="col-sm-10">Number of Bots: </div><div id="blue-count" class="col-sm-2">1</div>
                <div class="col-sm-10">Energy: </div><div id="blue-energy" class="col-sm-2">1</div>
                <div class="col-sm-10" id="blue-game-end-message"></div>
            </div>
            <p id="turn-number"></p>
            <p>Our aerial reconnaissance vehicles are picking up the following feed of the battle as it unfolds. </p>
        </div>
        <div class="col-md-6">
            <canvas id="game" height="500" width="500" style="border-color: lightgrey; border-style: solid; border-width:2px;"></canvas>
        </div>
    </div>
</div>

<div class="hidden">
    <img id="energy-image" src="~/Images/iconSprite.png" alt="energy"/>
</div>

@Scripts.Render("~/bundles/signalR")

<script type="text/javascript" src="~/signalr/hubs"></script>
<script type="text/javascript" src="~/Scripts/WarViewer.js"></script>