@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h3>What is Ai Battleground?</h3>

<p>Ai Battleground is a platform to help people learn to code while having fun competing in virtual ai competitions.  Our first battle type, Net Bots, is up and running.</p>

<h3>Monthly Net Bots Tournaments</h3>

<p>Ai Battleground is hosting an offical Net Bot tournament on the first Tuesday of each month.  Be ready! </p>

<p>In order to participate in the tournament, make sure you submit your public bot URL at <a href="http://aibattleground.com">http://aibattleground.com</a> before the tournament starts.</p>

<p>There are beginner, intermediate, and advance level of compitition.  It's open to anyone, even those who have never coded before.  Hands on workshops are held often to help people build their first bot.</p>
