@{
    ViewBag.Title = "Contact Us";
}

<h2>@ViewBag.Title.</h2>

<h3>Weekly meetings held at Hackerspace Charlotte</h3>
<a href="http://www.hsclt.org">http://www.hsclt.org</a>

<address>
    Hackerspace Charlotte<br />
    1111D Hawthorne Ln<br />
    Charlotte, NC <br />
    28205<br />
    <a href="https://www.google.com/maps/search/Hackerspace+Charlotte">Google Maps</a>
</address>

<address>
    <strong>Questions:</strong> <a href="mailto:Patrick@Graham.Technology">Patrick@Graham.Technology</a><br />
</address>