@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NetBots</h1>
</div>

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<h1>History</h1>

<p>The year is 3015. Earth is no longer the paradise it once was. The rain forests are just a myth. The oceans are foul and slick with oil. Potable water has become the main form of currency - and war. Humans no longer live in cities, but in small urban tribal communities. They battle one another, but their biggest fear is the Bots. Humans no longer ponder the meaning of life or when it all began. They know the Singularity is the beginning - and the end.</p>

<p>Something has changed though. The Bots evolved into something wholly unexpected - they developed emotions. In juxaposition to the humans who turned from primal emotions into sentient beings, the Bots have tured from sentient beings into entities driven by emotion.</p>

<p>These emotion driven Bots no longer work towards the same goals and war has broken out among the Bots with devestating consquences to the human race who are nothing but collateral to the Bots. This war will continue until only one Bot remains.</p>



