
@{
    ViewBag.Title = "Schedule";
}

<h2>Schedule</h2>

<h3>Tournaments</h3>

When: <strong>Tuesday December 2nd</strong> <br />
Where: <a href="https://www.google.com/maps/search/Hackerspace+Charlotte">Hackerspace Charlotte</a>
Who:  All three levels of competition: Entry, Intermediate, Advanced <br />
What: Single elimination tournaments with best 2 out of 3 battles <br/>
Why: Pride and Prizes!<br />

<br /><br />

When: <strong>Tuesday Janurary 6th</strong> <br />
Where: <a href="https://www.google.com/maps/search/Hackerspace+Charlotte">Hackerspace Charlotte</a>
Who:  All three levels of competition: Entry, Intermediate, Advanced <br />
What: Single elimination tournaments with best 2 out of 3 battles <br />
Why: Pride and Prizes!<br />

<h3>Training</h3>

<strong>Thursday Nov 6th: Open source bot code.</strong><br />
Come see the code of last tounament's winner: DivideByZer0.<br />
<br />
<strong>Tuesday Nov 18th: Build a bot workshop: Part 1.</strong><br />
An introductory workshop designed to teach those who have no coding experience how to build an entry level bot.<br />
<br />

<strong>Tuessay Nov 25th: Build a bot workshoip: Part 2.</strong>  Continuing the process building an entry level bot.<br />
<br />

