@{
    ViewBag.Title = "Battle";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>This is what the Battle page will do</h3>

<ul>
    <li>Display a live battle between two bots</li>
    <li>Play back an historical battle</li>
</ul>