
@{
    ViewBag.Title = "Bot";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>This is what the Bot page will do</h3>

<ul>
    <li>List of the bots</li>
    <li>View bot details</li>
    <li>Edit you own bots</li>
    <li>Add a bot</li>
    <li>Delete a bot (if it's yours)</li>
</ul>