@{
    ViewBag.Title = "History";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>This is what the History page will do</h3>

<ul>
    <li>Display past battles</li>
    <li>Select past battle for playback</li>
</ul>